---
import Head from '../layouts/Head.astro';
import MyFooter from '../layouts/MyFooter.astro';
import MyHeader from '../layouts/MyHeader.astro';
import Drawer from '../components/Drawer.astro';
import Sidemenu from '../components/Sidemenu.astro';
import Search from '../components/Search.svelte';
import data from '../modules/data.json';

const url = '/glossary/';
const title = data.find((d) => d.url === url)?.title ?? '[NO DATA]';
---

<!doctype html>
<html lang='en'>
  <Head {url} {title} />
  <body>
    <header>
      <MyHeader />
    </header>
    <Drawer {url} />
    <aside class="__lside">
      <div class='__sidebar-root'>
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <main aria-label='The text'>
      <h1 id='title'>{title}</h1>
      <Search client:only='svelte' />
    </main>
    <aside class="__rside"></aside>
    <footer>
      <MyFooter />
    </footer>
  </body>
</html>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    body {
      @apply flow-root lg:grid min-h-lvh;

      grid-template-areas: 
        'h h h'
        'l m r'
        'f f f';

      grid-template-columns:
        minmax(min(var(--spacing-min-side), 50%), 1fr)
        minmax(0, var(--spacing-max-main))
        minmax(min(var(--spacing-min-side), 50%), 1fr);
      grid-template-rows: auto 1fr auto;
    }

    header {
      @apply h-header sticky top-0 z-(--z-header);
      grid-area: h;
    }

    .__lside {
      grid-area: l;
    }

    .__rside {
      grid-area: r;
    }

    .__lside, .__rside {
      @apply max-lg:hidden;
    }

    .__sidebar-root {
      @apply h-[calc(100lvh-var(--spacing-header))] overflow-y-auto sticky 
      top-header z-(--z-sidebar) px-1 py-2;
      scrollbar-width: thin;
    }

    main {
      @apply flow-root cbg-bg px-4 pb-8 min-h-lvh;
      grid-area: m;
    }

    footer {
      @apply flex flex-col items-center *:min-w-0 h-max px-2 py-1;
      grid-area: f;
    }
  }
</style>
