---
import type { MarkdownHeading } from 'astro';
import Head from '../layouts/Head.astro';
import data from '../modules/data.json';
import Toc, { type H2Content, type H3Content } from '../components/Toc.astro';
import JboLogo from '../assets/jbo_logo.svg';
import ToTopBtn from '../components/ToTopBtn.astro';

interface MdProps {
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
  readonly url: string;
  readonly getHeadings: () => MarkdownHeading[];
}

const mds_ = Object.values(
  import.meta.glob<MdProps>('./*.md', { eager: true }),
);

mds_.sort((a, b) => {
  let aIndex = data.findIndex((s) => s.url === a.url);
  let bIndex = data.findIndex((s) => s.url === b.url);
  if (aIndex === -1) {
    aIndex = Infinity;
  }
  if (bIndex === -1) {
    bIndex = Infinity;
  }
  return aIndex - bIndex;
});

const mds = mds_.map(({ frontmatter, url, getHeadings }): H2Content => {
  const h3 = getHeadings()
    .filter((h) => h.depth === 2)
    .map(({ text, slug }): H3Content => {
      return {
        text,
        url: `${url}#${slug}`,
        h4: [],
      };
    });
  const text = frontmatter.title;
  return {
    text,
    url,
    h3,
  };
});

const title = `The Complete Lojban Language`;
const url = '/';
---

<Head {title} {url}>
  <header class='px-4 my-12'>
    <h1 id='title' class='text-center'>
      The <span class='text-red-600'>C</span>omplete
      <span class='text-blue-600'>L</span>ojban
      <span class='text-red-600'>L</span>anguage
    </h1>
  </header>
  <hr />
  <main class='flow-root cbg-bg w-full max-w-7xl mx-auto px-4 lg:px-6'>
    <JboLogo class='max-w-95 w-full mx-auto my-6' />
    <Toc contents={mds} open />
  </main>
  <hr />
  <footer></footer>
  <ToTopBtn />
</Head>
