---
import type { MarkdownHeading } from 'astro';
import data from '../modules/data.json';

interface MdProps {
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
  readonly url: string;
  readonly getHeadings: () => MarkdownHeading[];
}

interface Props {
  readonly currentUrl: string;
  readonly class?: string;
}

const mds = Object.values(
  import.meta.glob<MdProps>('../pages/*.md', { eager: true }),
);

const lis = mds.map((md) => {
  const title = md.frontmatter.title;
  const match = title.match(/Chapter\s\d+/u)?.[0] ?? title;
  return {
    title: match,
    url: md.url,
    long: title,
  };
});

lis.sort((a, b) => {
  const a_ = data.findIndex((d) => d.url === a.url);
  const b_ = data.findIndex((d) => d.url === b.url);
  const aUrl = a_ > -1 ? a_ : Infinity;
  const bUrl = b_ > -1 ? b_ : Infinity;
  return aUrl - bUrl;
});

const { currentUrl, class: className } = Astro.props;
---

<ul class={className}>
  <li><a href='/' title='Top Page'>Top</a></li>
  {
    lis.map((p) => {
      const isCurrent = p.url === currentUrl;
      return (
        <li>
          <a href={p.url} aria-current={isCurrent} title={p.long}>
            {p.title}
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    ul {
      @apply list-none ps-0 flex flex-col mb-0;
    }
    
    a {
      @apply block no-underline opacity-100 hover:cbg-sidemenu-bg
      hover:ctext-sidemenu-text px-3 py-1.5 transition-colors rounded;

      &[aria-current="true"] {
        @apply cbg-sidemenu-bg ctext-sidemenu-text;
      }
    }
  }
</style>
