---
interface H4Content {
  readonly text: string;
  readonly url: string;
}

interface H3Content {
  readonly text: string;
  readonly url: string;
  readonly h4: H4Content[];
}

interface H2Content {
  readonly text: string;
  readonly url: string;
  readonly h3: H3Content[];
}

export type { H2Content, H3Content, H4Content };

interface Props {
  readonly contents: H2Content[];
  readonly isAside?: boolean;
  readonly class?: string;
}

const { contents, class: className, isAside = false } = Astro.props;
---

<ul class=`__toc ${className}` data-is-aside={isAside || null}>
  {
    contents.map((content) => (
      <li>
        <p>
          <a href={content.url} title={content.text}>
            {content.text}
          </a>
        </p>
        {content.h3.length > 0 && (
          <ul>
            {content.h3.map((h3) => (
              <li>
                <p>
                  <a href={h3.url} title={h3.text}>
                    {h3.text}
                  </a>
                </p>
                {h3.h4.length > 0 && (
                  <ul>
                    {h3.h4.map((h4) => (
                      <li>
                        <a href={h4.url} title={h4.text}>
                          {h4.text}
                        </a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
</ul>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    .__toc[data-is-aside] {
      @apply list-none ps-0 flex flex-col gap-0.5 mt-0 font-feat-tnum;
      a {
        @apply block no-underline any-hover:underline opacity-100 ctext-text;
      }
    }
  }
</style>
