---
interface H4Content {
  readonly text: string;
  readonly url: string;
}

interface H3Content {
  readonly text: string;
  readonly url: string;
  readonly h4: H4Content[];
}

interface H2Content {
  readonly text: string;
  readonly url: string;
  readonly h3: H3Content[];
}

export type { H2Content, H3Content, H4Content };

interface Props {
  readonly contents: H2Content[];
  readonly open?: boolean;
}

const { contents, open = false } = Astro.props;
---

<h2>Table of Contents</h2>
<details
  id='toc-details'
  {open}
  class='border border-slate-300 dark:border-slate-500 bg-violet-50 dark:bg-violet-950 rounded px-3 py-0.5'
>
  <summary class='cursor-pointer user-select-none'>
    {open ? 'hide' : 'show'}
  </summary>
  <ul class="list-none ps-0">
    {
      contents.map((content) => (
        <li>
          <p>
            <a href={content.url}>{content.text}</a>
          </p>
          {content.h3.length > 0 && (
            <ul>
              {content.h3.map((h3) => (
                <li>
                  <p>
                    <a href={h3.url}>{h3.text}</a>
                  </p>
                  {h3.h4.length > 0 && (
                    <ul>
                      {h3.h4.map((h4) => (
                        <li>
                          <a href={h4.url}>{h4.text}</a>
                        </li>
                      ))}
                    </ul>
                  )}
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</details>

<script>
  const details = document.getElementById('toc-details') as HTMLDetailsElement;
  const summary = details.querySelector('summary') as HTMLElement;
  summary.addEventListener('click', (ev) => {
    ev.preventDefault();
    const isOpen = details.open;
    if (isOpen) {
      details.open = false;
      summary.textContent = 'show';
    } else {
      details.open = true;
      summary.textContent = 'collapse';
    }
  });
</script>
