---
import '../styles/globals.css';
import Loads from '../components/Loads.astro';
import OGP from '../components/OGP.astro';
import data from '../modules/data.json';

interface Props {
  readonly title: string;
  readonly url: string;
  readonly description?: string;
}

const { title, url, description } = Astro.props;
const siteName = data[0].title;
const miniTitle = siteName === title ? title : `${title} | CLL`;
---

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <meta name='generator' content={Astro.generator} />
  <meta name='color-scheme' content='light dark' />
  <Loads />
  <link rel='icon' href='/icon.svg' type='image/svg+xml' />
  <OGP title={miniTitle} {url} {description} />
  <title>{miniTitle}</title>
</head>
