---
import '../styles/globals.css';
import 'katex/dist/katex.min.css';
import Preloads from './Preloads.astro';
import XNavigator from '../components/XNavigator.astro';
import { linkTitles } from '../modules/titles';

interface Props {
  readonly title: string;
  readonly url: string;
  readonly description?: string;
}

const { title, url } = Astro.props;
const index = linkTitles.findIndex(([k]) => k === url);
const prev = index > 0 ? linkTitles.at(index - 1) : undefined;
const next =
  index >= 0 && index < linkTitles.length - 1
    ? linkTitles.at(index + 1)
    : undefined;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />

    <!-- preloads -->
    <Preloads />

    <!-- font-face -->
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Inter/font-face.css'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Charis/font-face.css'
      crossorigin='anonymous'
    />

    <link rel='icon' href='/icon.svg' type='image/svg+xml' />
    <title>{title}</title>
  </head>
  <body>
    <div id='md-root'>
      <header class='flex flex-col gap-2 px-4 my-6 *:my-0 [&_a]:font-normal'>
        <XNavigator {prev} {next} />
      </header>
      <hr />
      <main>
        <h1 id='title'>
          {title}
        </h1>
        <slot />
      </main>
      <hr />
      <footer class='flex flex-col gap-2 px-4 my-6 *:my-0 [&_a]:font-normal'>
        <XNavigator {prev} {next} />
      </footer>
    </div>
  </body>
</html>
