---
import '../styles/globals.css';
import type { MarkdownLayoutProps } from 'astro';
import Head from './Head.astro';
import ListIcon from '../components/ListIcon.svg';
import type { H2Content } from '../components/Toc.astro';
import { Image } from 'astro:assets';
import Sidemenu from '../components/Sidemenu.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import Toc from '../components/Toc.astro';
import LinkExt from '../components/LinkExt.astro';
import CloseIcon from '../components/CloseIcon.svg';

type Props = MarkdownLayoutProps<{
  readonly title: string;
  readonly description?: string;
}>;

const { frontmatter, headings, url = '/' } = Astro.props;

const imgData = await (async () => {
  const str = url.match(/chapter(\d+)/)?.[1] ?? '';
  const num = Number.parseInt(str);

  if (!Number.isFinite(num)) return;
  const nStr = num.toString().padStart(2, '0');
  const img: ImageMetadata = (await import(`../assets/chapter${nStr}.gif`))
    .default;
  return { src: img, alt: `The picture for chapter ${num}` } as const;
})();

const shortTitle =
  frontmatter.title.match(/Chapter\s\d+/u)?.[0] ?? frontmatter.title;

const contents: H2Content[] = [];
const filtered = headings.filter(({ depth }) => depth < 5);

for (const { depth, text, slug } of filtered) {
  switch (depth) {
    case 2: {
      contents.push({
        text: text,
        url: `${url}#${slug}`,
        h3: [],
      });
      break;
    }
    case 3: {
      if (contents.length === 0) {
        contents.push({
          text: '',
          url: '',
          h3: [],
        });
      }
      const last = contents.at(-1)!;
      last.h3.push({
        text: text,
        url: `${url}#${slug}`,
        h4: [],
      });
      break;
    }
    case 4: {
      if (contents.length === 0) {
        contents.push({
          text: '',
          url: '',
          h3: [],
        });
      }
      const h2last = contents.at(-1)!;
      if (h2last.h3.length === 0) {
        h2last.h3.push({
          text: '',
          url: '',
          h4: [],
        });
      }
      const last = h2last.h3.at(-1)!;
      last.h4.push({
        text,
        url: `${url}#${slug}`,
      });
      break;
    }
    default: {
      throw Error('Unexpected heading', { cause: { depth, text, slug } });
    }
  }
}
---

<Head title={shortTitle} {url} description={frontmatter.description}>
  <header class='gbg-accent h-16'>
    <nav class='flex h-full items-center *:mb-0 *:min-w-0 px-8'>
      <a
        href='/'
        class='no-underline text-4xl font-extralight'
        title='Top Page'
      >
        CLL
      </a>
      <button
        type='button'
        id='drawer-btn'
        class='max-lg:block lg:hidden ms-auto hover:opecity-60 transition-opacity'
        title='Open sidemenu'
      >
        <ListIcon class='size-6 fill-current inline-block' />
      </button>
    </nav>
  </header>
  <main class='flex flex-col lg:flex-row *:min-w-0'>
    <div
      id='drawer-backdrop'
      class='fixed z-1000 invisible data-open:visible inset-0 bg-transparent
      data-open:bg-black/40 transition-[background-color,visibility]'
    >
      <aside
        id='drawer'
        class='-translate-x-65 [[data-open]>&]:translate-x-0 h-full w-64
        cbg-side overflow-x-auto py-2 transition-transform'
      >
        <button
          id='drawer-close-btn'
          type='button'
          title='Close sidemenu'
          class='block ms-auto p-2'
        >
          <CloseIcon class='inline-block fill-current size-6' />
        </button>
        <Sidemenu currentUrl={url} />
      </aside>
    </div>
    <aside class='hidden lg:block lg:flex-[1_0_14rem]'>
      <div class='h-screen overflow-y-auto sticky top-0 px-1 py-2'>
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <section aria-label='The text' class='cbg-bg px-4 lg:flex-[0_1_80rem]'>
      <h1 id='title'>{frontmatter.title}</h1>
      {
        imgData && (
          <Image
            id='top-picture'
            class='my-8'
            src={imgData.src}
            alt={imgData.alt}
          />
        )
      }
      <slot />
    </section>
    <aside class='hidden lg:block lg:flex-[1_0_14rem]'>
      <div class='h-screen overflow-y-auto sticky top-0 px-3 py-2'>
        <Toc {contents} isAside />
      </div>
    </aside>
  </main>
  <footer>
    <LinkExt class='no-underline' href='https://github.com/tktb-tess/cll-site'>
      Go to Repository
    </LinkExt>
  </footer>
  <ToTopBtn />
</Head>

<script>
  const drawerBackdrop = document.getElementById(
    'drawer-backdrop',
  ) as HTMLDivElement;
  const drawerBtn = document.getElementById('drawer-btn') as HTMLButtonElement;
  const drawerCloseBtn = document.getElementById(
    'drawer-close-btn',
  ) as HTMLButtonElement;
  drawerBtn.addEventListener('click', () => {
    drawerBackdrop.dataset.open = '';

    setTimeout(() => {
      drawerCloseBtn.focus();
    }, 10);
  });

  drawerBackdrop.addEventListener('click', (ev) => {
    if (ev.target !== ev.currentTarget) return;
    delete drawerBackdrop.dataset.open;
  });

  drawerCloseBtn.addEventListener('click', () => {
    delete drawerBackdrop.dataset.open;
  });
</script>
