---
import type { MarkdownLayoutProps } from 'astro';
import type { H2Content } from '../components/Toc.astro';
import Head from './Head.astro';
import { Image } from 'astro:assets';
import Sidemenu from '../components/Sidemenu.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import Toc from '../components/Toc.astro';
import MyFooter from './MyFooter.astro';
import MyHeader from './MyHeader.astro';
import Drawer from '../components/Drawer.astro';

type Props = MarkdownLayoutProps<{
  readonly title: string;
  readonly description?: string;
}>;

const { frontmatter, headings, url = '/' } = Astro.props;

const imgData = await (async () => {
  const str = url.match(/chapter(\d+)/)?.[1] ?? '';
  const num = Number.parseInt(str);

  if (!Number.isFinite(num)) return;
  const nStr = num.toString().padStart(2, '0');
  const img: ImageMetadata = (await import(`../assets/chapter${nStr}.gif`))
    .default;
  return { src: img, alt: `The picture for chapter ${num}` } as const;
})();

const shortTitle =
  frontmatter.title.match(/Chapter\s\d+/u)?.[0] ?? frontmatter.title;

const getContents = () => {
  const contents: H2Content[] = [];
  const filtered = headings.filter(({ depth }) => depth < 5);
  for (const { depth, text, slug } of filtered) {
    switch (depth) {
      case 2: {
        contents.push({
          text: text,
          url: `${url}#${slug}`,
          h3: [],
        });
        break;
      }
      case 3: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const last = contents.at(-1)!;
        last.h3.push({
          text: text,
          url: `${url}#${slug}`,
          h4: [],
        });
        break;
      }
      case 4: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const h2last = contents.at(-1)!;
        if (h2last.h3.length === 0) {
          h2last.h3.push({
            text: '',
            url: '',
            h4: [],
          });
        }
        const last = h2last.h3.at(-1)!;
        last.h4.push({
          text,
          url: `${url}#${slug}`,
        });
        break;
      }
      default: {
        throw Error('Unexpected heading', { cause: { depth, text, slug } });
      }
    }
  }
  return contents;
};

const contents = getContents();
---

<!doctype html>
<html>
  <Head title={shortTitle} {url} description={frontmatter.description} />
  <body>
    <header>
      <MyHeader />
    </header>
    <aside class='__lside'>
      <div class='__sidebar-root'>
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <Drawer {url} />
    <main aria-labelledby='title'>
      <h1 id='title'>{frontmatter.title}</h1>
      {
        imgData && (
          <Image id='top-picture' src={imgData.src} alt={imgData.alt} />
        )
      }
      <slot />
    </main>
    <aside class='__rside'>
      <div class='__sidebar-root px-3'>
        <Toc {contents} isAside />
      </div>
    </aside>
    <footer>
      <MyFooter />
    </footer>
    <ToTopBtn />
  </body>
</html>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    body {
      @apply flow-root lg:grid min-h-lvh;

      grid-template-areas: 
        'h h h'
        'l m r'
        'f f f';

      grid-template-columns:
        minmax(min(var(--spacing-min-side), 50%), 1fr)
        minmax(0, var(--spacing-max-main))
        minmax(min(var(--spacing-min-side), 50%), 1fr);
      grid-template-rows: auto 1fr auto;
    }

    header {
      @apply h-header sticky top-0 z-(--z-header);
      grid-area: h;
    }

    .__lside {
      grid-area: l;
    }

    .__rside {
      grid-area: r;
    }

    .__lside, .__rside {
      @apply max-lg:hidden;
    }

    .__sidebar-root {
      @apply h-[calc(100lvh-var(--spacing-header))] overflow-y-auto sticky 
      top-header z-(--z-sidebar) px-1 py-2;
      scrollbar-width: thin;
    }

    main {
      @apply flow-root cbg-bg px-4 pb-8;
      grid-area: m;
    }

    footer {
      @apply flex flex-col items-center *:min-w-0 h-max px-2 py-1;
      grid-area: f;
    }
  }
</style>
