---
import '../styles/globals.css';
import type { MarkdownLayoutProps } from 'astro';
import Head from './Head.astro';
import ListIcon from '../components/ListIcon.svg';
import type { H2Content } from '../components/Toc.astro';
import { Image } from 'astro:assets';
import Sidemenu from '../components/Sidemenu.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import Toc from '../components/Toc.astro';
import LinkExt from '../components/LinkExt.astro';
import CloseIcon from '../components/CloseIcon.svg';
import JboLogo from '../components/JboLogo.svg';

type Props = MarkdownLayoutProps<{
  readonly title: string;
  readonly description?: string;
}>;

const { frontmatter, headings, url = '/' } = Astro.props;

const imgData = await (async () => {
  const str = url.match(/chapter(\d+)/)?.[1] ?? '';
  const num = Number.parseInt(str);

  if (!Number.isFinite(num)) return;
  const nStr = num.toString().padStart(2, '0');
  const img: ImageMetadata = (await import(`../assets/chapter${nStr}.gif`))
    .default;
  return { src: img, alt: `The picture for chapter ${num}` } as const;
})();

const shortTitle =
  frontmatter.title.match(/Chapter\s\d+/u)?.[0] ?? frontmatter.title;

const getContents = () => {
  const contents: H2Content[] = [];
  const filtered = headings.filter(({ depth }) => depth < 5);
  for (const { depth, text, slug } of filtered) {
    switch (depth) {
      case 2: {
        contents.push({
          text: text,
          url: `${url}#${slug}`,
          h3: [],
        });
        break;
      }
      case 3: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const last = contents.at(-1)!;
        last.h3.push({
          text: text,
          url: `${url}#${slug}`,
          h4: [],
        });
        break;
      }
      case 4: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const h2last = contents.at(-1)!;
        if (h2last.h3.length === 0) {
          h2last.h3.push({
            text: '',
            url: '',
            h4: [],
          });
        }
        const last = h2last.h3.at(-1)!;
        last.h4.push({
          text,
          url: `${url}#${slug}`,
        });
        break;
      }
      default: {
        throw Error('Unexpected heading', { cause: { depth, text, slug } });
      }
    }
  }
  return contents;
};

const contents = getContents();
---

<Head title={shortTitle} {url} description={frontmatter.description}>
  <header class='gbg-accent h-(--s-header) sticky top-0 z-100'>
    <nav class='flex h-full items-center *:mb-0 *:min-w-0 px-8'>
      <a
        href='/'
        class='flex gap-1 no-underline items-center h-full opacity-100
        hover:cbg-sidemenu-bg hover:ctext-sidemenu-text transition-colors ps-1 pe-2'
        title='Top Page'
      >
        <JboLogo class='block h-8' />
        <span class='text-3xl font-extralight'>CLL</span>
      </a>
      <button
        type='button'
        id='drawer-btn'
        class='block lg:hidden ms-auto hover:text-black/60 transition-colors'
        title='Open sidemenu'
      >
        <ListIcon class='size-6 fill-current inline-block' />
      </button>
    </nav>
  </header>
  <main class='flow-root lg:grid grid-cols-(--cols-main) *:min-w-0'>
    <div id='drawer-backdrop'>
      <aside id='drawer'>
        <button id='drawer-close-btn' type='button' title='Close sidemenu'>
          <CloseIcon class='inline-block fill-current size-6' />
        </button>
        <Sidemenu currentUrl={url} />
      </aside>
    </div>
    <aside class='hidden lg:block'>
      <div
        class='h-[calc(100lvh-var(--s-header))] overflow-y-auto sticky top-(--s-header) z-0 px-1 py-2'
      >
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <section aria-label='The text' class='flow-root cbg-bg px-4'>
      <h1 id='title'>{frontmatter.title}</h1>
      {
        imgData && (
          <Image id='top-picture' src={imgData.src} alt={imgData.alt} />
        )
      }
      <slot />
    </section>
    <aside class='hidden lg:block'>
      <div
        class='h-[calc(100lvh-var(--s-header))] overflow-y-auto sticky top-(--s-header) z-0 px-3 py-2'
      >
        <Toc {contents} isAside />
      </div>
    </aside>
  </main>
  <footer>
    <LinkExt class='no-underline' href='https://github.com/tktb-tess/cll-site'>
      Go to Repository
    </LinkExt>
  </footer>
  <ToTopBtn />
</Head>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    #drawer-backdrop {
      @apply fixed z-1000 invisible data-drawer-open:visible inset-0 w-dvw h-dvh bg-transparent
      data-drawer-open:bg-black/40 transition-[background-color,visibility];
    }

    #drawer {
      @apply -translate-x-full h-full w-64
      cbg-side overflow-x-auto px-2 py-2 transition-transform;

      [data-drawer-open] > & {
        @apply translate-x-0;
      }
    }

    #drawer-close-btn {
      @apply block ms-auto p-2 hover:text-black/60 transition-colors;
    }

    :global(:where(html, body):has([data-drawer-open])) {
      @apply overflow-y-clip;
    }
  }
</style>

<script>
  const drawerBackdrop = document.getElementById(
    'drawer-backdrop',
  ) as HTMLDivElement;
  const drawerBtn = document.getElementById('drawer-btn') as HTMLButtonElement;
  const drawerCloseBtn = document.getElementById(
    'drawer-close-btn',
  ) as HTMLButtonElement;
  drawerBtn.addEventListener('click', () => {
    drawerBackdrop.dataset.drawerOpen = '';

    setTimeout(() => {
      drawerCloseBtn.focus();
    }, 10);
  });

  drawerBackdrop.addEventListener('click', (ev) => {
    if (ev.target !== ev.currentTarget) return;
    delete drawerBackdrop.dataset.drawerOpen;
  });

  drawerCloseBtn.addEventListener('click', () => {
    delete drawerBackdrop.dataset.drawerOpen;
  });
</script>
