---
import '../styles/globals.css';
import type { MarkdownLayoutProps } from 'astro';
import Head from './Head.astro';
import ListIcon from '../components/ListIcon.svg';
import type { H2Content } from '../components/Toc.astro';
import { Image } from 'astro:assets';
import Sidemenu from '../components/Sidemenu.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import Toc from '../components/Toc.astro';
import LinkExt from '../components/LinkExt.astro';

type Props = MarkdownLayoutProps<{
  readonly title: string;
  readonly description?: string;
}>;

const { frontmatter, headings, url = '/' } = Astro.props;

const imgData = await (async () => {
  const str = url.match(/chapter(\d+)/)?.[1] ?? '';
  const num = Number.parseInt(str);
  if (!Number.isFinite(num)) return;
  const img: ImageMetadata = (
    await import(`../assets/chapter${num.toString().padStart(2, '0')}.gif`)
  ).default;
  return { src: img, alt: `The picture for chapter ${num}` } as const;
})();

const contents: H2Content[] = [];
const filtered = headings.filter(({ depth }) => depth < 5);

for (const { depth, text, slug } of filtered) {
  switch (depth) {
    case 2: {
      contents.push({
        text: text,
        url: `${url}#${slug}`,
        h3: [],
      });
      break;
    }
    case 3: {
      if (contents.length === 0) {
        contents.push({
          text: '',
          url: '',
          h3: [],
        });
      }
      const last = contents.at(-1)!;
      last.h3.push({
        text: text,
        url: `${url}#${slug}`,
        h4: [],
      });
      break;
    }
    case 4: {
      if (contents.length === 0) {
        contents.push({
          text: '',
          url: '',
          h3: [],
        });
      }
      const h2last = contents.at(-1)!;
      if (h2last.h3.length === 0) {
        h2last.h3.push({
          text: '',
          url: '',
          h4: [],
        });
      }
      const last = h2last.h3.at(-1)!;
      last.h4.push({
        text,
        url: `${url}#${slug}`,
      });
      break;
    }
    default: {
      throw Error('Unexpected heading', { cause: { depth, text, slug } });
    }
  }
}
---

<Head title={frontmatter.title} {url} description={frontmatter.description}>
  <header>
    <nav class='flex h-16 items-center *:mb-0 *:min-w-0'>
      <a href="/" class="no-underline text-4xl font-extralight ps-8">CLL</a>
      <button type="button" class="ms-auto px-8">
        <ListIcon class='size-6 fill-current inline-block' />
      </button>
    </nav>
  </header>
  <main class='flex flex-col lg:flex-row *:min-w-0'>
    <aside class='hidden lg:block lg:flex-[1_0_14rem]'>
      <div class='h-[96vh] overflow-y-auto sticky top-2 px-4'>
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <section class='cbg-bg px-4 lg:flex-[0_1_80rem]'>
      <h1 id='title'>{frontmatter.title}</h1>
      {
        imgData && (
          <Image
            id='top-picture'
            class='my-8'
            src={imgData.src}
            alt={imgData.alt}
          />
        )
      }
      <slot />
    </section>
    <aside class='hidden lg:block lg:flex-[1_0_14rem]'>
      <div class="h-[96vh] overflow-y-auto sticky top-2 px-4 pt-2">
        <Toc {contents} />
      </div>
    </aside>
  </main>
  <footer>
    <LinkExt class='no-underline' href='https://github.com/tktb-tess/cll-site'>
      Go to Repository
    </LinkExt>
  </footer>
  <ToTopBtn />
</Head>
