---
import type { MarkdownLayoutProps } from 'astro';
import type { H2Content } from '../components/Toc.astro';
import Head from './Head.astro';
import { Image } from 'astro:assets';
import Sidemenu from '../components/Sidemenu.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import Toc from '../components/Toc.astro';
import MyFooter from './MyFooter.astro';
import MyHeader from './MyHeader.astro';
import Drawer from '../components/Drawer.astro';

type Props = MarkdownLayoutProps<{
  readonly title: string;
  readonly description?: string;
}>;

const { frontmatter, headings, url = '/' } = Astro.props;

const imgData = await (async () => {
  const str = url.match(/chapter(\d+)/)?.[1] ?? '';
  const num = Number.parseInt(str);

  if (!Number.isFinite(num)) return;
  const nStr = num.toString().padStart(2, '0');
  const img: ImageMetadata = (await import(`../assets/chapter${nStr}.gif`))
    .default;
  return { src: img, alt: `The picture for chapter ${num}` } as const;
})();

const shortTitle =
  frontmatter.title.match(/Chapter\s\d+/u)?.[0] ?? frontmatter.title;

const getContents = () => {
  const contents: H2Content[] = [];
  const filtered = headings.filter(({ depth }) => depth < 5);
  for (const { depth, text, slug } of filtered) {
    switch (depth) {
      case 2: {
        contents.push({
          text: text,
          url: `${url}#${slug}`,
          h3: [],
        });
        break;
      }
      case 3: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const last = contents.at(-1)!;
        last.h3.push({
          text: text,
          url: `${url}#${slug}`,
          h4: [],
        });
        break;
      }
      case 4: {
        if (contents.length === 0) {
          contents.push({
            text: '',
            url: '',
            h3: [],
          });
        }
        const h2last = contents.at(-1)!;
        if (h2last.h3.length === 0) {
          h2last.h3.push({
            text: '',
            url: '',
            h4: [],
          });
        }
        const last = h2last.h3.at(-1)!;
        last.h4.push({
          text,
          url: `${url}#${slug}`,
        });
        break;
      }
      default: {
        throw Error('Unexpected heading', { cause: { depth, text, slug } });
      }
    }
  }
  return contents;
};

const contents = getContents();
---

<Head title={shortTitle} {url} description={frontmatter.description}>
  <MyHeader />
  <main>
    <Drawer {url} />
    <aside>
      <div class='__sidebar-root'>
        <Sidemenu currentUrl={url} />
      </div>
    </aside>
    <section aria-label='The text'>
      <h1 id='title'>{frontmatter.title}</h1>
      {
        imgData && (
          <Image id='top-picture' src={imgData.src} alt={imgData.alt} />
        )
      }
      <slot />
    </section>
    <aside>
      <div class='__sidebar-root px-3'>
        <Toc {contents} isAside />
      </div>
    </aside>
  </main>
  <MyFooter />
  <ToTopBtn />
</Head>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    main {
      @apply flow-root lg:grid grid-cols-(--cols-main) *:min-w-0;

      > :where(aside) {
        @apply hidden lg:block;
      }

      > * > :where(.__sidebar-root) {
        @apply h-[calc(100lvh-var(--s-header))] overflow-y-auto sticky 
        top-[calc(var(--s-header)+.5rem)] z-0 px-1 py-2;
      }

      > :where(section) {
        @apply flow-root cbg-bg px-4;
      }
    }
  }
</style>
